/* Reset toàn bộ lề mặc định của trình duyệt */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Chặn thanh cuộn thừa */
}

#root {
  width: 100%;
  height: 100%;
}